[submodule "stm32h"]
	path = stm32h
	url = https://github.com/dmitrystu/stm32h.git
[submodule "printf"]
	path = printf
	url = https://github.com/mpaland/printf.git
[submodule "CMSIS_h"]
	path = CMSIS_h
	url = https://github.com/shovdmi/CMSIS_h.git
